<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServerIP" value="" />
    <add key="AdminUserName" value=""/>
    <add key="AdminUserPassword" value=""/>
  </appSettings>
</configuration>